<h1>while_loop</h1>

<% @games.each do |game| %>
  <%= image_tag game.banner_url.thumb.url %>
  <ol>
    <li><%= game.title %></li>
    <li><%= game.create_team %></li>
    <li><%= game.bio %></li>
  </ol>
<% end %>
