// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.game-show{
  & p{
    margin: 50px;
  }
  & h2{
    font-weight: 800;
    color: #33b491;
  }
  & h3{
    margin-left: 50px;
    font-weight: 300;
  }
  & .score-ranking{
    margin: 30px;
    & h2{
      color: black;
      margin-left: 30px;
    }
  }
}


