// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.games{
  // margin: 50px;
  & .game-image{
    float: left;
    margin: 0 10px 0 3%;
  }
  & li{
    list-style: none;
    margin-bottom: 2em;
  }
  & .game{
    background: rgba(153, 153, 153, 0.07);
  }
}
